{% extends 'header.html' %}

{% block content%} 

<style>
    * {
      box-sizing: border-box;
    }
    
    /* Add a gray background color with some padding */
    body {
      font-family: Arial;
      padding: 20px;
      background: #f1f1f1;
    }
    
    /* Header/Blog Title */
    .header {
      padding: 30px;
      font-size: 40px;
      text-align: center;
      background: white;
    }
    
    /* Create two unequal columns that floats next to each other */
    /* Left column */
    .leftcolumn {   
      float: left;
      width: 75%;
    }
    
    /* Right column */
    .rightcolumn {
      float: left;
      width: 25%;
      padding-center: 20px;
    }
    
    /* Fake image */
    .fakeimg {
      background-color: #aaa;
      width: 100%;
      padding: 20px;
    }
    
    /* Add a card effect for articles */
    .card {
       background-color: white;
       padding: 20px;
       margin-top: 20px;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Footer */
    .footer {
      padding: 20px;
      text-align: center;
      background: #ddd;
      margin-top: 20px;
    }
    
    /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 800px) {
      .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
      }
    }
    </style>
    </head>
    <body>
    <a class="nav-item nav-link" href="{% url 'blog' %}">create blog</a>
    {% for msg in messages%}
    {{msg}}
    {% endfor %}
    {% for post in post %}
    <div class="row">
      <div class="leftcolumn">
        <div class="card">
          <h2>Title:{{post.title}}</h2>
          <h5>Post date:{{post.date}}</h5>
          <p>Content:{{post.content}}</p>
          <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="{% url 'update-post' post.id %}">Update-Post</a>
          <a class="nav-item nav-link" href="{% url 'delete-post' post.id %}">Delete-post</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

{% endblock content%}